.sideBar {
  border-radius: 25px;
  border: 2px;
  color: #feda6a;
  border-color: #393f4d;
  background-color: #393f4d;
  height: 85%;
  width: 15%;
  position: fixed;
  z-index: 1;
  right: 0;
  margin-right: 0.5em;
  padding: 1em;
  text-align: center;
  opacity: 0.8;
  font-size: large;
}

.addLabel {
  font-weight: bold;
  margin-bottom: 20px;
  text-decoration: underline;
  color: #feda6a;
  text-align: center;

  margin-top: 20px;
}

.addBtn:hover,
.confirmBtn:hover,
.cancelBtn:hover {
  transform: scale(1.1);
}

.margin {
  margin-top: 10px;
}

.cancelBtn {
  margin-right: 10%;
  font-weight: bold;
  color: silver;
  background-color: rgb(175, 0, 0);
  border-radius: 9px;
  font-size: large;
  text-align: center;
  width: 5em;
}

.confirmBtn {
  font-weight: bold;
  color: #393f4d;
  background-color: #feda6a;
  border-radius: 9px;
  text-align: center;
  font-size: large;
  width: 5em;
}
