.Btn {
  font-weight: bold;
  color: #393f4d;
  background-color: #feda6a;
  border-radius: 9px;
  text-align: center;
  font-size: large;
  width: fit-content;
  margin-top: 4px;
}

@media all and (min-width: 480px) {
  .Login {
    padding: 60px;
    background-color: #d4d4dc;
    text-align: center;
  }

  .Login form {
    margin: 0 auto;
    text-align: right;
    max-width: 500px;
  }

  .registerBtn {
    text-align: left;
  }

  .loginLabel {
    padding: 2em;
  }
}
