.navBar {
  list-style-type: none;
  text-align: center;
  background-color: #393f4d;
}

.navBar li {
  display: inline;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1px;
  font-weight: bold;
}

a:link {
  color: #feda6a;
}

a:visited {
  color: #feda6a;
}

a:active {
  background-color: #1d1e22;
}

.navBar li:hover {
  background-color: #1d1e22;
}
