.sideBar {
  border-radius: 25px;
  border: 2px;
  color: #feda6a;
  border-color: #393f4d;
  background-color: #393f4d;
  height: 85%;
  width: 15%;
  position: fixed;
  z-index: 1;
  right: 0;
  margin-right: 0.5em;
  padding: 1em;
  text-align: center;
  opacity: 0.8;
}

.sideBar h1 {
  text-decoration: underline;
}

.orderItem {
  text-align: left;
  font-weight: bold;
}
.close {
  cursor: pointer;
  width: 10px;
  padding: 2px 2px;
  margin-left: 20px;
  color: rgb(175, 0, 0);
  font-weight: bold;
}

.close:hover {
  background-color: #eee;
}

.sideBar h1 {
  color: #feda6a;
}

.completeBtn:hover,
.deleteBtn:hover {
  transform: scale(1.1);
}

.margin {
  margin-top: 5px;
}

.deleteBtn {
  margin-right: 10%;
  font-weight: bold;
  color: silver;
  background-color: rgb(175, 0, 0);
  border-radius: 9px;
  font-size: large;
  text-align: center;
  width: fit-content;
}

.completeBtn {
  font-weight: bold;
  color: #393f4d;
  background-color: #feda6a;
  border-radius: 9px;
  text-align: center;
  font-size: large;
  width: fit-content;
}
