.list li {
  display: inline;
  float: left;
  padding: 10px;
  text-align: center;
}

.list {
  width: fit-content;
  margin: 0 auto;
}

.listContainer {
  width: 83%;
}

.addBtn {
  font-weight: bold;
  color: #393f4d;
  background-color: #feda6a;
  border-radius: 9px;
  margin-top: 2px;
}

.addBtn:hover {
  transform: scale(1.1);
}
