
img {
    width: 8em;
    height: 16em;
}

.cijena .naziv {
    font-family: Arial, Helvetica, sans-serif;
}

.omotac {
    margin-left: 10px;
    border-radius: 25px;
    border: 2px solid rgb(0,0,0);
    padding: 20px;
    width: 8em;
    
    
  }
