
img {
    width: 8em;
    height: 13em;
}

.cijena .naziv {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}

.omotac {
    margin-left: 10px;
    border-radius: 25px;
    border: 2px solid rgb(0,0,0);
    padding: 20px;
    width: 8em;
    
    
  }
