.sideBar {
  border-radius: 25px;
  border: 2px;
  border-color: #335986;
  background-color: rgb(185, 185, 185);
  height: 85%;
  width: 15%;
  position: fixed;
  z-index: 1;
  right: 0;
  margin-right: 0.5em;
  padding: 1em;
  text-align: center;
  opacity: 0.8;
}
